<footer class="bg-gray-100 py-20">
  <div class="container flex flex-col md:flex-row gap-8">
    <div class="w-3/12">
      <h2 class="text-4xl font-bold mb-4">shop.co</h2>
      <p class="text-sm font-normal">
        We have clothes that suits your style and which you’re proud to wear.
        From women to men.
      </p>
    </div>
    <div class="w-9/12 flex justify-center items-center">
      {%for i in (1..4)%}
      <div class="w-1/4">
        <h2 class="uppercase font-medium mb-2">Company</h2>
        <ul>
          <li>About</li>
          <li>Features</li>
          <li>Works</li>
          <li>Career</li>
        </ul>
      </div>
      {%endfor%}
    </div>
  </div>
</footer>
