<header>
  <div class="sd-top-bar bg-black text-white">
    <div class="container py-2 text-center">
      Sign up and get 20% off to your first order.
      <a href=""> Sign Up Now</a>
    </div>
  </div>
  <div class="py-4 bg-gray-200 sd-top-bar">
    <div class="container">
      <div class="flex justify-center items-center">
        <div class="w-2/12 text-2xl font-semibold">logo</div>
        <div class="w-4/12">
          <ul class="sd-nav-menu">
            <li><a href="">Shop</a></li>
            <li><a href="">On sale</a></li>
            <li><a href="">New Arrival</a></li>
            <li><a href="">Brands</a></li>
          </ul>
        </div>
        <div class="w-5/12">
          <input
            class="w-10/12 bg-gray-50 px-2 py-1 rounded outline-none"
            type="text"
            name=""
            id=""
          />
        </div>
        <div class="w-1/12">card</div>
      </div>
    </div>
  </div>
</header>
