<div class="container pt-20">
  <div
    class="max-w-[1120px] mx-auto flex justify-between items-center bg-black rounded-2xl py-10 px-16"
  >
    <div class="w-1/2">
      <h2 class="text-[40px] font-bold text-white">
        STAY UPTO DATE ABOUT <br />
        OUR LATEST OFFERS
      </h2>
    </div>
    <div class="w-1/2 flex flex-col justify-center items-end gap-4">
      <label for="email" class="w-3/4">
        <input
          type="email"
          placeholder="Enter your email address"
          class="bg-white rounded-2xl w-full px-4 py-2"
        />
      </label>

      <button class="bg-white p-2 w-3/4 rounded-2xl">
        Subscribe to Newsletter
      </button>
    </div>
  </div>
</div>
